<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--103.177.225.18-->
    <add name="conML" connectionString="Server=103.177.225.18;uid=mylogicAcwebid;pwd=32hw1^oK3;database=nx_mylogicAcDb;" providerName="System.Data.SqlClient"/>
    <!--<add name="conML" connectionString="Server=DESKTOP-USNF3OV\SQLEXPRESS;database=MyLogicDB;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/404"/>
    </customErrors>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" maxRequestLength="1048576" executionTimeout="3600"/>
    <machineKey validation="SHA1" decryption="AES" validationKey="2A3E67DFBE990DC4DCB869DABEBB51E99CE86C37" decryptionKey="EE79C807CB59BBBA5D659CA1A706ED46ABACCEEB5A97849AC34871FAE799E225"/>
  </system.web>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNetMvc-Version"/>
        <remove name="x-powered-by-plesk "/>
        <add name="Strict-Transport-Security" value="max-age=31536000"/>
        <add name="Content-Security-Policy" value="X-Frame-Options: SAMEORIGIN"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="Referrer-Policy" value="strict-origin"/>
        <add name="X-Permitted-Cross-Domain-Policies" value="none"/>
        <add name="Permissions-Policy" value="fullscreen=()"/>
      </customHeaders>
    </httpProtocol>-->
    <security>
      <requestFiltering removeServerHeader="true" allowDoubleEscaping="true"/>
    </security>
    <!--<staticContent>
      <mimeMap mimeType="image/webp" fileExtension=".webp" />
    </staticContent>-->
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="from" value="webmaster@mylogicvideos.com"/>
    <add key="fromName" value="Mylogic"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="userName" value="webmaster@mylogicvideos.com"/>
    <add key="password" value="fwzpzydqmfoaufko"/>
    <add key="enableSsl" value="true"/>
    <!--<add key="ToMail" value="info@mylogicvideos.com,vinod@mylogicvideos.com"/>
    <add key="CCMail" value="ajay@mylogicvideos.com,vinod@mylogicvideos.com"/>-->
    <add key="ToMail" value="nwiuser8@outlook.com"/>
    <add key="CCMail" value="nwiuser8@outlook.com"/>
    <add key="BCCMail" value=""/>
    <add key="domain" value="https://www.mylogic.ac"/>
    <add key="siteApiKey" value="c3c87f9b-1ab9-40ef-96bc-3ce318377f7af99d4cb7-dde7-440b-b540-11d8224693f90ed93a4a-1b79-4840-b9be-d8774351828f"/>
    <!--Social media other settings -->
    <add key="Mail" value="nwiuser4@outlook.com"/>
    <add key="Facebook" value=""/>
    <add key="Instagram" value=""/>
    <!--payment gateway settings -->
    <!--sandbox -->
    <!--<add key="razorid" value="rzp_test_obKqWxOCW5u38m" />
<add key="razorsecret" value="6qXT5QoiiA6LhSg5d55SA42z" />-->
    <!--livebox -->
    <add key="razorid" value="rzp_live_vyzJbiI5lbB56u"/>
    <add key="razorsecret" value="hCYvIjucV0abc3mcadxaqgQD"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>